.singleClickButtonBase {
	border-radius: var(--border-radius);
	padding: var(--padding-small);
	height: 3rem;

	&:disabled {
		opacity: 0.5;

		:hover{
			cursor: not-allowed;
			transition: none;
		}
	}
}

.primaryButton {
	background-color: var(--primary-button-background);
	color: var(--primary-button-text);
	border: var(--button-border);
	cursor: pointer;
	transition: 0.5s;

	&:hover {
		background-color: white;
		color: black;
	}
}

.secondaryButton {
	background-color: var(--secondary-color);
	color: var(--secondary-text-color);
	cursor: pointer;
}

.tertiaryButton {
	background-color: var(--tertiary-color);
	color: var(--tertiary-text-color);
}

.sizeSm {
	width: 30%;
}

.sizeMd {
	width: 50%;
}

.sizeLg {
	width: 90%;
}